body {
    font-family:'Courier New', Courier, monospace;
    font-size: xx-large;
    font-weight:bold;
    background-color: black;
    color: white;
}

.container1 {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
}

header {
    font-size: 90px;
    text-align: center;
    color: gold;
    background-color: rgb(15, 15, 15);
}

.toc-list, .toc-list ol {
    list-style-type: none;
  }
  
  .toc-list {
    padding: 0;
  }
  
  .toc-list ol {
    padding-inline-start: 2ch;
  }

  button{
    background-color: gold;
    border-radius: 15px;
    padding: 10px;
  }
  footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(15, 15, 15);
    color: gold;
  }