body {
    background:url(audience.jpg) no-repeat center fixed;
    padding-top: 35vh;
}

.keys {
    display: flex;
    justify-content: space-evenly;
}

.key {
    width: 100px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 35px;
}

.sound {
    color: #ffc600;
    letter-spacing: 1px;
    font-size: 18px;
    text-transform: uppercase;
}