body{

    text-align: center;

}

canvas{

    border: 1px solid black;

}

button{
    background-color: black;
    color: aliceblue;
    border-radius: 15px;
    padding: 10px;
    float: center;
  }